useDynLib(CARMAX, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, na.omit, optimize, rgamma, rbeta, quantile)
importFrom(Matrix, bdiag, writeMM)
importFrom(MASS, ginv)
importFrom(utils, combn)
exportPattern("^[[:alpha:]]+")
